.container {
    padding-top: 60px;
    padding-bottom: 200px;
    max-width: 800px;
}

.titular {
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* Mobile */
.titular {
    width: 150px;
    float: right;
    box-sizing: border-box;
}
.logo {
    float: left;
}

.value-prop {
    margin-top: 1rem;
}
.value-props {
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.value-img {
    display: block;
    text-align: center;
    margin: 2.5rem auto 0;
    height: 10rem;
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
    .titular {
        width: 100%;
        box-sizing: border-box;
        float: none;
    }
    .logo {
        float: none;
        max-width: 100%;
    }
}
